nav ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
    padding: 0;
}

nav ul li a {
    padding: 10px 16px;
    background: #00d03498;
    color: #ff0000;
    text-decoration: none;
    transition: 0.3s;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-content {
    color: #000000;
    text-align: center;
}
.banner .btn {
    background-color: #ff4c60;
    padding: 14px 30px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ;
}

.banner .btn:hover {

    background-color: #ffbf00;
}
